@import "page";

$primary-color: #919191;
$accent-color: #39558C;
$light-color: #FFBCDD;
$gray: #919191;
// $families: "Lora:400,400italic", "Roboto+Condensed:400,300", "Montserrat:400,700";

// @each $family in $families {
//   $clean: unquote(#{$family});
//   @import url("//fonts.googleapis.com/css?family=#{$clean}");
// }

@import 'https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans:400,400i,600,600i|Playfair+Display';

$body-font: "Open Sans", "Helvetica Neue", sans-serif;
// $header-font: "Playfair Display", "Georgia", serif;
$header-font: $body-font;
$accent-font: "Fira Mono", monospace;

body {
  font-family: $body-font;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  font-family: $header-font;
}

a {
  color: $accent-color;
  text-decoration: none;
  font-family: $header-font;
}


.section-heading {
  // text-align: center;
  font-size: 16px;
  font-family: $accent-font;
  text-transform: lowercase;
  color: $accent-color;
  border: 1px solid $light-color;
  border-width: 0 0 1px 0;
  font-weight: 300;
  
  line-height: 1.2;
  margin: 15px 0 5px;

  // letter-spacing: 3px;
}


h2 {
  font-size: 19px;
}

.details {
  color: $gray;
  font-size: 13px;
  // font-family: $body-font;
  // font-style: italic;
}
.date-range {
  color: $primary-color;
}

.entry {
  margin-bottom: 15px;
}
.clearfix {
  clear: both;
}

#education, #about {
  display: inline-block;
  width: 50%;
  margin-right: -2px;
  float: left;
  margin-bottom: -20px;
  .section-heading {
    margin-top: 0;
  }
}
#about {
  h1 {
    font-size: 30px;
    color: $accent-color;
    font-family: $accent-font;
  }
  p {
    font-size: 13px;
  }
  .about {
    margin-top: 10px;
  }
  .contact, .about {
    // font-family: $accent-font;
  }
  .contact {
    font-weight: 300;
    font-family: $accent-font;
  }
  padding-right: 15px;
}
.title {
  position: relative;
}
.link {
  // font-family: $header-font;
  color: $primary-color;
  position: absolute;
  right: 0;
  bottom: 1px;
}

#skills, #interests {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    display: inline-block;
    // color: $primary-color;
    // border: 1px solid #ccc;
    font-size: 14px;
    padding: 2px 3px;
    border-radius: 4px;
    font-family: $header-font;
    margin-bottom: 2px;
  }
}
